<div class="container-fluid d-flex flex-fill justify-content-center align-content-center"> 
    <div class="row">
      <div *ngFor="let exercise of activeToDos" class="col-lg-12 {{ exercise.classList }} d-flex flex-column m-3" >
          <div class="d-flex align-items-start mt-3">
            <h1 class="flex-fill">{{ exercise.name | titlecase }}</h1>
            <div *ngIf="exercise.finish == false">
              <i  class="fa-solid fa-check" (click)="finish(exercise)"></i>
            </div>
          </div>
          <p>Created at: {{ exercise.createdAt | date : "yyyy, MM, dd - hh:mm" }}</p>
          <p *ngIf="exercise.finish">Finished at:> {{ exercise.finishedAt | date : "yyyy, MM, dd - hh:mm" }}</p>
          <div class="d-flex align-items-end flex-fill mb-4" *ngIf="exercise.finish == false">
            <button class="btn btn-outline-warning" (click)="startEdit(exercise)">Edit</button>
            <input style="width: 100px !important;" *ngIf="exercise.editButton" [(ngModel)]="exercise.name" type="text" placeholder="edit" class="form-control flex-fill mx-4 bg-transparent" />
            <button *ngIf="exercise.editButton" (click)="editToDo(exercise, exercise.name)"  class="btn btn-outline-warning">Save</button>
          </div>
      </div>
    </div>
  </div>
  